@page
@model EditModel
@{
    ViewData["Title"] = "Edit flower";
}

<div class="text-center">
    <h1 class="display-4">Edit</h1>
        <form asp-action="Edit" method="post">
        <p>
            <label asp-for="FlowerDetails.Name">Name</label>
            <input type="text" asp-for="FlowerDetails.Name" required />
        </p>
        <p>
            <label asp-for="FlowerDetails.Colour">Colour</label>
            <input type="text" asp-for="FlowerDetails.Colour" required />
        </p>
        <p>
            <label asp-for="FlowerDetails.Price">Price</label>
            <input type="number" min="0" step="0.01" asp-for="FlowerDetails.Price" required />
        </p>
        <p>
            <label asp-for="FlowerDetails.Species">Species</label>
            <input type="text" asp-for="FlowerDetails.Species" required />
        </p>
        <p>
            <label asp-for="FlowerDetails.Stock">Stock</label>
            <input type="number" min="0" asp-for="FlowerDetails.Stock" required />
        </p>
        <button type="submit" class="btn btn-primary">Update</button>
        <input type="hidden" asp-for="FlowerDetails.FlowerId" />
    </form>
</div>
