@page
@using ServiceReference1
@using wcf_assignment3_interface
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p><a class="navbar-brand" asp-area="" asp-page="/ShowAll">Show All Flowers</a></p>
</div>